* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: black;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
}

article {
    padding: 30px 20px;
    flex: 2;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

aside {
    flex: 1;
}

#div-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
}