* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: black;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
    }
}

