body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    margin: 0;
}

.auth-form {
    width: 200px;
    padding: 15px;
    border: 1px solid #00FFFF;
    border-radius: 10px;
}

/* Espaçamento entre os campos */
.input-group {
    margin-bottom: 5px;
}

.input-group label {
    display: block;
}

/* Garante que o input não ultrapasse a largura da div */
.input-group input {
    width: 100%;
    box-sizing: border-box;
}

/* Exer 5: "div" */
div button {
    /* Tamanho da fonte */
    font-size: 16px;

    /* Tipo da fonte */
    font-family: sans-serif;

    /* Tamanho da box */
    padding: 10px 20px;

    /* Cor de fundo */
    background-color: #00FFFF;

    /* Tamanho e cor da borda */
    border: 2px solid #0056b3;

    /* Raio da borda (circular) */
    border-radius: 10px;

    /* Cursos quando hovering  */
    cursor: pointer;

    /* Sombras da box */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    /* Tempo para aparecer */
    transition: 0.5s;
}

.submitbutton:hover {
    background-color: #E8282B;
}